<form action="/skills/users" method="post">
    <input type="hidden" value="{{skill._id}}" name="skillId">
    <legend>Add User</legend>

    <br>

    <!-- TITLE -->
    <div class="form-group">
      <label for="name">Name</label><br>
      <input class="form-control"
        id="name"
        type="text"
        name="name"
        placeholder="Name"/>
    </div>

    <br>

    <!-- DESCRIPTION -->
    <div class="form-group">
      <label for="company">Company</label><br>
      <input class="form-control"
      id="company"
      type="text"
      name="company"
      placeholder="Company"/>
    </div>

    <br>

  <!-- BUTTON -->
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Save User</button>
  </div>
</form>
