<div style="text-align: left">
    <a href="/">Back to Home</a>
</div>

<div>
    <a href="/skills/{{skill._id}}/users/new">New User</a>
</div>

<h1>{{skill.name}}</h1>

<div>

    {{#each users}}
        {{> user}}
    {{/each}}
</div>
