<form action="/skills/users" method="post">
    <input type="hidden" value="{{skill._id}}" name="skillId">
    <legend>Add User</legend>

    <br>

    <!-- NAME -->
    <div class="form-group">
      <label for="name">Name</label><br>
      <input class="form-control"
        id="name"
        type="text"
        name="name"
        placeholder="Name"/>
    </div>

    <br>

    <!-- COMPANY -->
    <div class="form-group">
      <label for="company">Company</label><br>
      <input class="form-control"
      id="company"
      type="text"
      name="company"
      placeholder="Company"/>
    </div>

    <br>

    <div class="form-group">
      <label for="position">Position</label><br>
      <input class="form-control"
      id="position"
      type="text"
      name="position"
      placeholder="Position"/>
    </div>

    <br>

      <div class="form-group">
        <div class="col-xs-4">
            <label for="skillOne">Skill One</label><br>
            <input class="form-control"
            id="skillOne"
            type="text"
            name="skillOne"
            placeholder="Skill One"/>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-4">
            <label for="skillTwo">Skill Two</label><br>
            <input class="form-control"
            id="skillTwo"
            type="text"
            name="skillTwo"
            placeholder="Skill Two"/>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-4">
            <label for="skillThree">Skill Three</label><br>
            <input class="form-control"
            id="skillThree"
            type="text"
            name="skillThree"
            placeholder="Skill Three"/>
        </div>
      </div>

  <!-- BUTTON -->

  <div class="form-group">
      <div class="text-center">
        <button
            style="margin-top: 30px"
            class="btn btn-primary"
            type="submit">Save User</button>
      </div>
  </div>
</form>
